html {
  font-family: 'Open Sans', sans-serif;
}

body {
  padding-top: 20px;
  padding-bottom: 50px;
  max-width: 800px;
  margin: 0 auto;
  background-color: #f3fcfe;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}
a {
  text-decoration: none;
  color: #34bee0;
}
a:hover {
  text-decoration: underline;
}
a.ignore {
  color: #ccc;
  text-decoration: line-through;
}

.output {
  margin: 0 auto;
  margin-top: 20px;
}

.section {
  padding: 20px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid #d6f2f9;
}

.section#header {
  margin-bottom: 25px;
  padding: 0;
  background: none;
  border: none;
}

.section#warnings, .section#nowarnings {
  color: white;
  padding: 15px 20px;
}
.section#warnings a, .section#nowarnings a {
  color: inherit;
  text-decoration: underline;
}
.section#warnings { background-color: #ffa08d; }
.section#nowarnings { background-color: #00dd95; }

.section#nowarnings p { margin: 0; }

p.instruction {
  font-weight: bold;
  margin-top: 5px;
}

a.file {
  display: block;
  margin-bottom: 5px;
}
